body{
    font-family: 'Poppins', sans-serif;
}
h1{
    
    font-size: 40px;
}
#name-highlight{
    color: rgb(235, 170, 5);
}
img{
    width: 500px;
}
section{
    padding-left:4rem;
}
.profile-photo{
    width: 500px;
    float: right;  
}
.profile-info{
    width: 50%;
    display: inline-block;
}